@use '~@kth/style/scss/tokens/colors.scss' as colors;

.course-search-results {
  .search-result-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .toggle-container {
      display: inline-flex;
      border: 2px solid colors.$color-gray-medium;
      border-radius: 5px;
      overflow: hidden;
      font-family: Arial, sans-serif;
    }

    .toggle-button {
      padding: 10px 20px;
      cursor: pointer;
      border: none;
      background-color: colors.$color-white;
      color: colors.$color-gray-dark;
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 16px;
    }

    .toggle-button svg {
      fill: colors.$color-gray-dark;
    }

    .toggle-button.active {
      background-color: colors.$color-blue-light;
      color: colors.$color-blue-kth;
      border-color: 1px solid colors.$color-blue-lake;
    }
  }
  .course-card {
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 4px;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 28px;
    .course-header {
      padding: 1rem;
      h3 {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        color: #000;
        line-height: 32px;
      }
      .course-code,
      .course-period {
        display: block;
        color: #000;
        font-weight: 700;
        line-height: 24px;
      }
    }
  }

  .course-details {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
  }
  .table-container {
    width: 100%;
    overflow-x: auto;
    th,
    td {
      vertical-align: middle;
    }
  }
}
