@use '~@kth/style/scss/tokens/colors.scss' as colors;
@use '~@kth/style/scss/tokens/typography.scss' as typography;
@use '~@kth/style/scss/tokens/spacing.scss' as space;
@use "'~@kth/style/scss/tokens/icons" as icons;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.course-search-results {
  .search-result-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: space.$space-2;
    .toggle-container {
      display: inline-flex;
      border-radius: 4px;
      .toggle-button {
        padding: space.$space-8;
        cursor: pointer;
        background-color: colors.$color-white;
        color: colors.$color-gray-dark;
        display: flex;
        align-items: center;
        gap: space.$space-4;
        border: 2px solid colors.$color-gray-medium;
        border-radius: 4px;
        outline: 0;
        svg {
          fill: colors.$color-gray-dark;
        }
        &.active {
          background-color: colors.$color-blue-light;
          border-color: colors.$color-blue-lake;
          color: colors.$color-blue-kth;
          svg {
            fill: colors.$color-blue-kth;
          }
        }
        & span {
          @media (min-width: 992px) {
          }
        }
      }
      .toggle-button.list-btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-width: 0;
        &:before {
          @include icons.icon-card-view;
          background-color: var(--color-text);
        }

        &.active {
          border-right-width: 2px;
          &:before {
            background: colors.$color-blue-kth;
          }
        }
      }

      .toggle-button.table-btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left-width: 0;
        &:before {
          @include icons.icon-list-view;
          background-color: var(--color-text);
        }
        &.active {
          border-left-width: 2px;
          &:before {
            background: colors.$color-blue-kth;
          }
        }
      }
    }
  }

  .course-card {
    border: 1px solid colors.$color-gray-light;
    border-radius: 4px;
    width: 100%;
    background-color: var(--color-background);
    box-shadow: 2px 2px 5px 0px colors.$color-gray-light;
    margin-bottom: space.$space-24;
    animation: fadeIn 0.5s ease forwards;
    .course-header {
      padding: space.$space-16;
      h3 {
        @include typography.font-heading-m;
        margin: space.$space-0;
      }
      .course-code,
      .course-period {
        display: block;
        @include typography.font-heading-xs;
      }
    }

    .course-footer {
      background-color: var(--color-background-alt);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: space.$space-8 space.$space-16;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      box-shadow: 2px 2px 5px 0px colors.$color-gray-light;
      @media (max-width: 600px) {
        flex-wrap: wrap;
      }
      .course-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: typography.$font-bold;
        gap: space.$space-8;
        @media (min-width: 1100px) {
          width: 30%;
        }
        @media (min-width: 992px) and (max-width: 1200px) {
          width: 35%;
        }
        @media (min-width: 700px) and (max-width: 992px) {
          width: 40%;
        }
        @media (min-width: 600px) and (max-width: 700px) {
          width: 45%;
        }
        @media (max-width: 600px) {
          flex: 1 1 100%;
        }
        .course-location {
          position: relative;
          padding-top: 30px;
          &:before {
            @include icons.icon-home;
            position: absolute;
            top: -2px;
            width: 35px;
            height: 32px;
            right: calc(50% - 17.5px);
            background-color: var(--color-tertiary);
          }
        }
        .course-language {
          position: relative;
          padding-top: 30px;
          &:before {
            @include icons.icon-language;
            position: absolute;
            top: 0;
            width: 30px;
            height: 30px;
            right: calc(50% - 15px);
            background-color: var(--color-tertiary);
          }
        }
        .course-pace {
          position: relative;
          padding-top: 30px;
          &:before {
            @include icons.icon-schedule;
            position: absolute;
            top: 0;
            width: 30px;
            height: 30px;
            right: calc(50% - 15px);
            background-color: var(--color-tertiary);
          }
        }
      }
      .course-link {
        @media (max-width: 600px) {
          padding-top: space.$space-20;
        }
      }
    }
  }
  .table-container {
    width: 100%;
    overflow-x: auto;
    animation: fadeIn 0.5s ease forwards;
    th,
    td {
      vertical-align: middle;
    }
  }
}
