// This file contains style shared between the four public facing Om kursen apps (kopps-public-react-web, kursinfo-web, kurs-pm-web and kursutveckling-web)
@use '~@kth/style/scss/tokens/typography.scss' as typography;

#app {
  padding-top: 30px;
  padding-bottom: 30px;
  & > .row {
    margin: 0;
  }
}

#mainContent {
  @media (min-width: 992px) {
    padding: 0;
  }
}

#mainMenu + #mainContent {
  @media (min-width: 992px) {
    padding-left: 30px;
  }
}

#mainMenu.kth-local-navigation {
  padding: 0 20px 15px 0;

  & > * {
    max-width: 15rem;
  }
}

.kth-content.articleNavigation {
  padding-top: 15px;
  padding-bottom: 0px;

  #breadcrumbs {
    ol {
      margin: 0;
    }

    display: none;
    @media (min-width: 992px) {
      display: flex;
    }
  }
}

// TODO: KTH-style-10: Hur bör page-sub-heading, kanske ska ligga i _fix egentligen
p {
  &#page-sub-heading {
    font-weight: 600;
    line-height: 1.375;
    margin-bottom: 14px;
    margin-top: 0.325rem;

    font-size: 1.25rem;

    @media (max-width: 767.98px) {
      font-size: 1rem;
    }
  }
}