%long-text-font-style {
  font-family: Georgia, 'garamond pro', garamond, 'times new roman', times, serif;
  word-break: break-word;
}

#app {
  padding: 30px 0;
}

.nav-item.leaf.selected {
  .nav-link {
    padding: 7px 15px 7px 0;
  }
}

.search-instructions {
  @extend %long-text-font-style;
}
