@use '~@kth/style/scss/utils/reset.scss';
@use '~@kth/style/scss/utils/mixins.scss';
@use '~@kth/style/scss/utils/prose.scss';

@use '~@kth/style/scss/components/logotype.scss';
@use '~@kth/style/scss/components/search.scss';
@use '~@kth/style/scss/components/alert.scss';
@use '~@kth/style/scss/components/footer.scss';
@use '~@kth/style/scss/components/mega-menu.scss';
@use '~@kth/style/scss/components/visually-hidden.scss';
@use '~@kth/style/scss/components/button.scss';
@use '~@kth/style/scss/components/header.scss';
@use '~@kth/style/scss/components/menu-item.scss';
@use '~@kth/style/scss/components/menu-panel.scss';
@use '~@kth/style/scss/components/content.scss';
@use '~@kth/style/scss/components/local-navigation.scss';

@use '~@kth/style/scss/tokens/colors.scss';
@use '~@kth/style/scss/tokens/typography.scss' as t;

@import 'shared';

header[role='presentation'] {
  margin-bottom: 1.5rem;
}

.lead {
  p {
    @include t.font-lead-fluid;
  }
}

.article {
  @include prose.prose;
  ul.link-list {
    padding-inline-start: 0;
    li {
      padding-inline-start: 0;
      max-width: unset;
    }
  }
  & > :first-child {
    margin-block-start: 0;
  }
}

// Style for mark data from Kopps (enabled by default in localhost only)
*[data-from-kopps] {
  &:hover {
    background-color: colors.$color-green-light;
  }

  &:hover:before {
    content: 'KOPPS';
    float: right;
    margin-top: -1.5em;
    padding: 0 0.75em;
    background-color: colors.$color-green;
    color: white;
    border-radius: 0.75em 0.75em 0 0;
  }
}

.table .active-period {
  background-color: colors.$color-blue-light;
  text-align: center;
}

.table b.course-comment {
  font-weight: normal;
  font-style: italic;
  display: block;
}

.table td.credits {
  white-space: nowrap;
}

.sidebar {
  background-color: var(--color-background-alt);
  padding: 20px;
  margin-bottom: 15px;
}

.sidebar p {
  font-size: 1rem;
}

.sidebar :last-child {
  margin-bottom: 0;
}

.sidebar-heading {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}


.display-none {
  display: none;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  border: 0.25em solid colors.$color-blue-kth-dark;
  border-right-color: transparent;
  border-radius: 50%;
  animation: 0.75s linear infinite spinner-border;
}

.pdf-link {
  margin: 0;
}

// TODO: kth-style-10: Alert
.alert.alert-info:before {
  top: 18px;
}

.alert.alert-danger:before {
  top: 18px;
}
