# Test pipeline for modernized templates
# Based on existing azure-pipelines.pr.yml but using new container-based templates

trigger: none
pr: none

variables:
  - group: studadm-general-params
  - name: dockerfilePath
    value: 'Dockerfile'
  - name: imageTag
    value: '$(Build.SourceVersion)'

resources:
  repositories:
    - repository: stratus-templates
      type: git
      name: Cloud Excellence Team/stratus-templates
      ref: modernized-templates

pool:
  vmImage: 'ubuntu-latest'

# Use the new container template
extends:
  template: templatesv2/stages/appservice-npm-container.yml@stratus-templates
  parameters:
    # Container configuration
    dockerfilePath: 'Dockerfile'
    imageTag: '$(Build.SourceVersion)'
    dockerBuildArgs: ''
    
    # Container testing configuration
    dockerComposeTestFiles:
      - 'docker-compose-unit-tests.yml'
      - 'docker-compose-integration-tests.yml'
    runContainerTests: true
    
    # Security and quality settings
    requireQualityGate: false
    runContainerScan: true
    
    # Deployment configuration
    deployToRef: false
