# Test pipeline for MSDO-based security scanning
# Tests the Microsoft Security DevOps templates
# Execute this in the kopps-public-react-web Azure DevOps project to access studadm-general-params

trigger: none  # Manual trigger for testing
pr: none

variables:
  - group: studadm-general-params  # Access their existing variable group
  - name: dockerfilePath
    value: 'Dockerfile'
  - name: imageTag
    value: '$(Build.SourceVersion)'

resources:
  repositories:
    - repository: stratus-templates
      type: git
      name: Cloud Excellence Team/stratus-templates
      ref: modernized-templates

pool:
  vmImage: 'ubuntu-latest'

# Use the new MSDO-based container template
extends:
  template: templates/stages/appservice-npm-container-mssec-devops.yml@stratus-templates
  parameters:
    # Container configuration
    imageName: '$(appName)'  # Use appName from studadm-general-params variable group
    dockerfilePath: 'Dockerfile'
    imageTag: '$(Build.SourceVersion)'
    dockerBuildArgs: ''
    
    # Container testing configuration (matching original PR pipeline)
    dockerComposeTestFiles:
      - 'docker-compose-unit-tests.yml'
      - 'docker-compose-integration-tests.yml'
    runContainerTests: true
    
    # Security and quality settings (parallel execution, non-breaking)
    requireQualityGate: false  # Don't break builds during testing
    runContainerScan: true
    
    # Deployment configuration (disabled for testing)
    deployToRef: false  # Don't deploy during testing
