# Test pipeline for modernized templates
# Based on existing azure-pipelines.pr.yml but using new container-based templates
# Detailed flow of the ci-pipeline.yml template will be documented

trigger: none
pr: none

variables:
  # the stadand parameter group for the team projects
  # includes service connections, sonarqube settings, artifact feeds etc.
  - group: studadm-general-params
  # the location of the dockerfiles
  - name: dockerfilePath
    value: 'Dockerfile'
  # overrides image tag, default is build number
  - name: imageTag
    value: '$(Build.SourceVersion)'
  # parameter file for deployment stage (ref/prod)
  - name: parametersFileName
    value: 'ref.parameters.json'

resources:
  repositories:
    # define the stratus-templates repository and reference as a resource
    - repository: stratus-templates
      type: git
      name: Cloud Excellence Team/stratus-templates
      ref: modernized-templates

pool:
  vmImage: 'ubuntu-latest'

# Use v3 of templates
extends:
  # call the single entry pipeline template
  template: templatesv3/ci-pipeline.yml@stratus-templates
  parameters:
    deployConfig:
      parametersFileName: '$(parametersFileName)'

    # since this is a container based app, we only need to set docker/container settings
    containerConfig:
      buildStrategy: 'dockerfile'
      dockerfilePath: $(dockerfilePath)
      imageTag: '$(Build.SourceVersion)'
      dockerBuildArgs: ''
      pushImage: true
      dockerComposeTestFiles:
        - 'docker-compose-unit-tests.yml'
        - 'docker-compose-integration-tests.yml'
      runContainerTests: true
    
    # Security and quality settings
    securityConfig:
      # is already set to false by default, just to show clarity
      requireQualityGate: false