trigger: none
pr:
  - master

variables:
  - group: studadm-general-params
  - name: imageName
    value: kopps-public-react-web
  - name: dockerfilePath
    value: '$(Pipeline.Workspace)/github/Dockerfile'
  - name: tag
    value: '$(Build.SourceVersion)'

resources:
  repositories:
    - repository: stratus-templates
      type: git
      name: Cloud Excellence Team/stratus-templates
      ref: main

pool:
  vmImage: 'ubuntu-latest'

extends:
  template: templates/security/security-scans.yml@stratus-templates
  parameters:
    break: false
    jobs:
      - job: unit_test
        displayName: Unit tests
        steps:
          - template: /templates/test/npm.yml@stratus-templates
            parameters:
              nodeVersion: 20
              buildCommand: run build:shared
      - job: integration_test
        displayName: 'Integration Test'
        steps:
          - template: /templates/test/docker.yml@stratus-templates
            parameters:
              dockerComposeFilePaths:
                - '$(Pipeline.Workspace)/github/docker-compose-integration-tests.yml'
              dockerfilePath: $(dockerfilePath)
              imageName: $(imageName)
              tag: $(tag)
